
/study_env
/__pycache__
static/js/test_out_of_scope_threashod.json
static/js/test_faq_threashold.json
analyze_results/new_answers_replacement.py
old_answers
/home/pgriziotis/thesis/QA-subsystem-thesis/dev/data/squad_translator/googlekey.json